header {
  margin: 20px auto;
  text-align: center;
}

body {
  font-family: sans-serif;
  margin: auto;
  background: url(../img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  font-size: big;
  text-align: justify;
  width: 100%;
  max-width: 1000px;
}

.nav {
  width: 100%;
  overflow: visible;
  padding: 0 20%;
}

.nav-wrapper {
  background-color: #202020;
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  margin: -25px auto;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul li {
  display: block;
  position: static;
  float: left;
  font-size: 16px;
}

li ul {
  display: none;
}

ul li a {
  display: block;
  padding: 5px 0.568cm 8px 10px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover {
  background: #003366;
}

li:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  background: #202020;
}

li:hover li a:hover {
  background: #003366;
}

.corpo {
  width: 900px;
  background: #FFF;
  padding: 50px;
  margin: auto auto;
}

.corpo center {
  margin-top: -25px
}

img {
  text-align: center;
  max-width: 100%;
  width: auto;
  height: auto;
}

.footer {
  width: 44%;
  float: left;
  margin: 2% 2%;
  text-align: center;
}

footer {
  background: #202020;
  width: 1000px;
  overflow: hidden;
  margin: 0px auto;
  opacity: 0.90;
  font-size: 13px;
}

footer p, footer h3 {
  color: #FFF;
}

footer p a {
  color: #FFF;
  text-decoration: none;
}

ul.social li {
  display: inline-block;
}

footer.second {
  border-top: 1px solid #4D4E50;
  background: #333333;
  max-height: 50px;
  text-align: center;
  opacity: 0.95;
  margin: -30px auto;
  font-size: 10px;
}

h3 {
  text-align: center;
}

    
h1 {
  font-family: Verdena;
}


/* Slideshow container */

.slideshow-container {
  width: 700px;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  height: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

fieldset {
  border: 0;
}